.navbar {
  background-color: rgb(51, 51, 51);
 
  padding: 16px 2px;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; 
  height: 50px; 
}


.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 100%;
}
  
  .navbar img {
    
    height: 70px;
    margin-left: 45px;
    object-fit: contain;
  }
  .navbar-links a,
.navbar-links .active {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links a:hover,
.navbar-links .active {
  color: #f39c12; 
 
}

  
  /* MOBILE VIEW */
  .navbar-links {
    display: none;
  }
  
  .navbar-links a {
    display: block;
    margin: 12px 0;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #cdc4c4;
  }
  
  .navbar-toggle {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-right: 12px;
  }
  
  .navbar-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px; /* adjust if your navbar is taller */
    left: 0;
    width: 100%;
    background-color: #1d1d1d;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 16px 24px;
    border-radius: 0;
    z-index: 999;
  }
  
  
  
  

  @media (min-width: 768px) {
    .navbar-links {
      display: flex !important;
      justify-content: flex-end;
      align-items: center;
      position: static;
      background-color: transparent;
      box-shadow: none;
      padding: 0 40px;
    }
  
    .navbar-links a {
      margin-left: 24px;
      color: aliceblue;
      display: inline-block;
    }
  
    .navbar-toggle {
      display: none;
    }
  }
  