.team-section {
    padding: 60px 20px;
    background-color: #1d1d1d;
    border-bottom: 1px solid #f39c12;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .section-title {
    text-align: center;
    margin-bottom: 40px;
  }
  /* .about__heading {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
    color: #fff;
  } */
  .section-title h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins' , sans-serif;
    margin-bottom: 3rem;
    color: #fff;
  }

  .section-divider {
    width: 60px;
    height: 1px;
    background-color: #4a4b4b;
    margin: 0 auto;
    border-radius: 2px;
  }
  
  .team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
  }
  
  .team-member {
    background-color: #272727;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease;
  }
  
  .team-member:hover {
    transform: translateY(-5px);
  }
  
  .team-member-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .team-member h3 {
    font-size: 1.2rem;
    font-family: 'Poppins' , sans-serif;
    margin: 10px 0 5px;
    color: #fff;
  }
  
  .team-member p {
    font-size: 0.95rem;
    font-family: 'Roboto' , sans-serif;
    color: #A2A2A2;
  }
  
  .about-team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .about-block {
    flex: 1;
    min-width: 280px;
  }
  
  .about-block h5 {
    font-size: 1.5rem;
    font-family: 'Poppins' , sans-serif;
    color: #fff;
    margin-left: 3rem;
    margin-bottom: 10px;
  }
  
  .about-block h3,
  .about-block p {
    font-size: 1rem;
    font-family: 'Roboto' , sans-serif;
    line-height: 1.6;
    margin-left: 3rem;
    margin-right: 3rem;
    color: #A2A2A2;
  }
  

  